// 변수
/* Color styles */
$color_product_tag: #999999;
$color_black: #333333;
$color_discount_rate: #fa622f;
$color_original_price: #b5b5b5;
$color_primary: #414141;
$color_btn_border: rgb(221, 221, 221);
$color_incorrect: #f03f40;
$color_white: #ffffff;
$color_copyright: rgb(247, 247, 247);

.right-nav-bar {
  padding: 25px;
  width: 1100px;
  min-width: 300px;
  background-color: #e8ecef;
  .goods-list-wrapper {
    width: 1085px;
    height: 100%;
    background-color: $color_white;
    .title-header {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 10px 0;
      .title {
        padding: 20px 40px;
        font-size: 20px;
        font-weight: 600;
      }
    }
    .bar {
      margin: 0 20px;
      border: 1px solid rgb(184, 184, 184);
    }
    .goods-info {
      display: flex;
      .goods-info-first {
        .goods-thumbnail img {
          margin-top: 40px;
          margin-left: 40px;
          width: 400px;
          height: 400px;
          border: 1px solid rgb(184, 184, 184);
        }
        .goods-info-title {
          padding: 40px 60px 20px;
          font-size: 18px;
          font-weight: 600;
        }
        .goods-id,
        .goods-name,
        .goods-price {
          height: 20px;
          font-size: 14px;
          margin-left: 40px;
          padding: 10px 20px;
          border: 0.5px solid #dfdfdf;
          background-color: #f3f3f4;
          margin-bottom: 10px;
          line-height: 20px;
          .tag {
            font-weight: 600;
          }
        }
      }
      .goods-info-second {
        .info-customer-title {
          padding: 50px 60px 15px;
          font-size: 18px;
          font-weight: 600;
        }
        .account-title {
          padding: 75px 60px 15px;
          font-size: 18px;
          font-weight: 600;
        }

        .transaction-title {
          padding: 40px 60px 15px;
          font-size: 18px;
          font-weight: 600;
        }
        .customer-email,
        .customer-name,
        .customer-account,
        .customer-bankcode,
        .customer-accountnum,
        .transaction-time,
        .transaction-calcel,
        .transaction-confirm {
          width: 520px;
          height: 20px;
          font-size: 14px;
          margin-left: 40px;
          padding: 10px 20px;
          border: 0.5px solid #dfdfdf;
          background-color: #f3f3f4;
          margin-bottom: 10px;
          line-height: 20px;
          .tag {
            font-weight: 600;
          }
        }
      }
    }
    .btn-wrapper {
      display: flex;
      justify-content: end;
      padding: 0 35px;
      button {
        width: 120px;
        height: 50px;
        background-color: $color_primary;
        border-radius: 5px;
        color: $color-white;
        font-size: 16px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .cancel,
      .completed {
        display: flex;
      }
      .cancel-btn:hover,
      .completed-btn:hover {
        background-color: #333333;
      }
      .active-cancel-btn,
      .active-completed-btn {
        display: none;
        background-color: $color-white;
        color: $color_primary;
        border: 2px solid $color_primary;
        box-sizing: border-box;
      }
    }
  }
}
