@import "colors";

.right-nav-bar {
  padding: 25px;
  width: 1100px;
  min-width: 300px;
  background-color: #e8ecef;
  .product-list-wrapper {
    width: 1085px;
    height: 100%;
    background-color: $color_white;
    .title-header {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 10px 0;
      .title {
        padding: 20px 40px;
        font-size: 20px;
        font-weight: 600;
      }
      .search-product {
        padding: 10px 20px;
        display: flex;
        .search-username {
          width: 300px;
          height: 40px;
          border: 1px solid #b5b5b5;
          padding-left: 10px;
        }
        .search {
          width: 70px;
          height: 42px;
          font-size: 14px;
          color: $color-white;
          background-color: $color_primary;
          margin: 0 20px 0 10px;
        }
        .search:hover {
          border: 1px solid $color-primary;
          box-sizing: border-box;
          background-color: $color_white;
          color: $color-primary;
          font-weight: 700;
        }
        .flatpickr-input {
          width: 120px;
          border: 1px solid #b5b5b5;
          padding: 10px;
          text-align: end;
          font-size: 12px;
        }
      }
    }
    .item-tag {
      background-color: #f7f7f7;
      height: 60px;
      width: 1045px;
      display: flex;
      color: #3c3c3c;
      font-size: 14px;
      font-weight: 500;
      margin: 0 20px;

      .info {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 12px;
        padding: 5px;
        border-top: 2px solid #cdcdcd;
        border-bottom: 2px solid #cdcdcd;
        border-right: 1px solid #e7e6e6;
      }
      .item-no {
        width: 30px;
        border-left: 1px solid #e7e6e6;
      }
      .item-name {
        width: 330px;
      }
      .item-price {
        width: 80px;
      }
      .item-coustmer {
        width: 80px;
      }
      .item-bank {
        width: 100px;
      }
      .item-time {
        width: 220px;
      }
      .item-calcel {
        width: 60px;
      }
      .item-confirm {
        width: 60px;
      }
    }
    .transaction-list {
      margin: 0 20px;
      height: 600px;
      .item-transaction {
        width: 1045px;

        height: 60px;
        display: flex;
        color: #3c3c3c;
        font-size: 14px;
        font-weight: 500;
        .info {
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 12px;
          padding: 5px;
          border-bottom: 1px solid #e7e6e6;
          border-right: 1px solid #e7e6e6;
        }
        .item-no {
          width: 30px;
          border-left: 1px solid #e7e6e6;
        }
        .item-name {
          width: 330px;
        }
        .item-price {
          width: 80px;
        }
        .item-coustmer {
          width: 80px;
        }
        .item-bank {
          width: 100px;
        }
        .item-time {
          width: 220px;
        }
        .item-cancel {
          width: 60px;
        }
        .item-confirm {
          width: 60px;
        }
      }
      .item-transaction:hover {
        font-weight: 800;
        img {
          width: 63px;
          height: 63px;
        }
      }
    }
  }
  .pagination-transaction {
    display: flex;
    width: 200px;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: center;
    padding-bottom: 60px;

    .pageNumber {
      width: 20px;
      height: 30px;
      color: #555555;
      font-weight: 700;
      padding: 0 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .prev,
    .next {
      width: 50px;
      background-color: #414141;
      color: $color-white;
      font-size: 14px;
      text-align: center;
    }
  }
}
