@import "colors";

.right-nav-bar {
  padding: 25px;
  width: 1100px;
  min-width: 300px;
  .all-wrapper {
    background-color: $color-white;
    .goods-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title-header {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 10px 0;
        .title {
          padding: 20px 40px;
          font-size: 20px;
          font-weight: 600;
        }
      }
      .button-wrapper {
        display: flex;
        justify-content: end;
        padding: 0 35px;
        a {
          width: 120px;
          height: 50px;
          background-color: $color_primary;
          color: $color-white;
          font-size: 16px;
          margin: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        a:hover {
          border: 1px solid $color-primary;
          box-sizing: border-box;
          background-color: $color-white;
          color: $color-primary;
        }
      }
    }
    .goods-item-wrapper {
      width: 1085px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .bar {
        margin: 0 20px;
        border: 0.25px solid #dadce0;
      }
      .goods-info {
        display: flex;
        flex-direction: column;
        .goods-info-wrapper {
          display: flex;
          .goods-thumbnail img {
            margin-top: 40px;
            margin-left: 40px;
            width: 500px;
            height: 500px;
            border: 0.1px solid rgb(184, 184, 184);
          }
          .goods-info-text {
            padding: 40px;
            .title {
              font-size: 18px;
              font-weight: 600;
              padding: 15px 0;
            }
            .val {
              padding: 0 0 40px;
            }
          }
        }
        .detail-img {
          display: flex;
          justify-content: center;
          padding-top: 60px;
        }
      }
      .skeleton-loading {
        background: $color_white;
        width: 100%;
        height: 100%;
        .goods-thumbnail {
          border-radius: 10px;
          height: 249px;
          background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
          background-size: 200% 100%;
          background-position: 100% 0;
          animation: blinker 1s linear infinite;
          margin-top: 40px;
          margin-left: 40px;
          width: 500px;
          height: 500px;
        }
        .category .title,
        .name .title,
        .price .title,
        .sale .title,
        .tag .title {
          width: 500px;
          height: 50px;
          border-radius: 10px;
          background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
          background-size: 200% 100%;
          background-position: 100% 0;
          animation: blinker 1s linear infinite;
          margin-bottom: 25px;
        }
        .detail-img {
          height: 500px;
          display: flex;
          border-radius: 10px;
          background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
          background-size: 200% 100%;
          background-position: 100%;
          animation: blinker 1s linear infinite;
          margin: 40px;
        }
        @keyframes blinker {
          100% {
            background-position: -100% 0;
          }
        }
      }
    }
  }
}
