@import "colors";

.right-nav-bar {
  padding: 25px;
  width: 1100px;
  min-width: 300px;
  background-color: #e8ecef;
  .goods-wrapper {
    width: 1085px;
    height: 100%;
    background-color: $color_white;
    .title-header {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 10px 0;
      .title {
        padding: 20px 40px;
        font-size: 20px;
        font-weight: 600;
      }
    }
    .bar {
      margin: 0 20px;
      border: 1px solid rgb(184, 184, 184);
    }
    .form-wrapper {
      input[type="text"] {
        font-size: 14px;
        padding-left: 10px;
        box-sizing: border-box;
      }
      input[type="text"]:focus {
        border: 2px solid #626262;
      }
      .form-item {
        height: 70px;
        display: flex;
        align-items: center;
        border-bottom: 0.5px solid rgb(184, 184, 184);
        margin: 0 20px;
        span {
          font-size: 14px;
          padding-left: 20px;
          color: #b81515;
          height: 20px;
          line-height: 24px;
        }
        label {
          display: flex;
          width: 120px;
          height: 60px;
          align-items: center;
          padding: 20px;
        }
        .goods-name,
        .goods-description,
        .goods-tag {
          width: 500px;
          height: 30px;
          border: 0.5px solid #dfdfdf;
          background-color: #f3f3f4;
        }

        .goods-price {
          width: 100px;
          height: 30px;
          border: 0.5px solid #dfdfdf;
          background-color: #f3f3f4;
          box-sizing: border-box;
          padding-left: 10px;
        }
        .price-desc,
        .sale-desc {
          width: 30px;
          height: 30px;
          border: 0.5px solid #dfdfdf;
          border-left: none;
          background-color: #f3f3f4;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: rgb(63, 63, 63);
          box-sizing: border-box;
        }
        .goods-sale {
          width: 100px;
          height: 30px;
          border: 0.5px solid #dfdfdf;
          background-color: #f3f3f4;
          box-sizing: border-box;
          padding-left: 10px;
        }
        .goods-price:focus,
        .goods-sale:focus {
          border: 2px solid #626262;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type="file"]::file-selector-button {
          width: 150px;
          height: 30px;
          background-color: #f3f3f4;
          border: 0.5px solid #dfdfdf;
          cursor: pointer;
          &:hover {
            background: rgb(77, 77, 77);
            color: #fff;
          }
        }
      }
    }
    .button-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      button {
        width: 70px;
        height: 40px;
        font-size: 14px;
        color: $color-white;
        background-color: $color_primary;
      }
    }
  }
}
#swal2-popup {
  font-size: 16px;
}

.swal2-container .swal2-top-end .swal2-backdrop-show {
  .swal2-popup .swal2-modal .swal2-icon-error .swal2-show {
    width: 500px;
  }
}
