@import "colors";

.right-nav-bar {
  padding: 25px;
  width: 1300px;
  min-width: 300px;
  background-color: #e8ecef;
  padding-top: 80px;
  .goods-list-wrapper {
    width: 1085px;
    height: 100%;
    background-color: $color_white;
    position: relative;
    .goods-title-wrapper {
      display: flex;
      justify-content: space-between;
      .title-header {
        padding: 20px 0 10px;
        .title {
          padding: 20px 40px;
          font-size: 20px;
          font-weight: 600;
        }
      }
      .button-wrapper {
        display: flex;
        justify-content: end;
        padding: 0 35px;
        padding-top: 10px;
        button {
          width: 120px;
          height: 50px;
          background-color: $color_primary;
          color: $color-white;
          font-size: 16px;
          margin: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        button:hover {
          border: 1px solid $color-primary;
          box-sizing: border-box;
          background-color: $color_white;
          color: $color-primary;
          font-weight: 700;
        }
        .cancel,
        .completed {
          display: flex;
        }
      }
    }
    .bar {
      margin: 0 20px;
      border: 1px solid rgb(184, 184, 184);
    }
    .goods-info {
      display: flex;
      .goods-info-left {
        margin-bottom: 30px;
        .goods-thumbnail img {
          margin-top: 40px;
          margin-left: 40px;
          width: 400px;
          height: 400px;
          border: 1px solid rgb(184, 184, 184);
        }
        .goods-info-title {
          padding: 40px 60px 20px;
          font-size: 18px;
          font-weight: 600;
        }
        .goods-id,
        .goods-name,
        .goods-price {
          height: 20px;
          font-size: 14px;
          margin-left: 40px;
          padding: 10px 20px;
          border: 0.5px solid #dfdfdf;
          background-color: #f3f3f4;
          margin-bottom: 10px;
          line-height: 20px;
          .tag {
            font-weight: 600;
          }
        }
      }
      .goods-info-right {
        .info-customer-title {
          padding: 50px 60px 15px;
          font-size: 18px;
          font-weight: 600;
        }
        .account-title {
          padding: 75px 60px 15px;
          font-size: 18px;
          font-weight: 600;
        }

        .transaction-title {
          padding: 35px 60px 15px;
          font-size: 18px;
          font-weight: 600;
        }
        .customer-email,
        .customer-name,
        .customer-account,
        .customer-bankcode,
        .customer-accountnum,
        .transaction-time,
        .transaction-calcel,
        .transaction-confirm {
          width: 520px;
          height: 20px;
          font-size: 14px;
          margin-left: 40px;
          padding: 10px 20px;
          border: 0.5px solid #dfdfdf;
          background-color: #f3f3f4;
          margin-bottom: 10px;
          line-height: 20px;
          .tag {
            font-weight: 600;
          }
        }
      }
    }
    .skeleton-loading {
      background: $color_white;
      width: 100%;
      height: 100%;
      .goods-thumbnail {
        border-radius: 10px;
        height: 249px;
        background: linear-gradient(
          120deg,
          #e5e5e5 30%,
          #f0f0f0 38%,
          #f0f0f0 40%,
          #e5e5e5 48%
        );
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: blinker 1s linear infinite;
        margin-top: 40px;
        margin-left: 40px;
        width: 400px;
        height: 400px;
      }
      .goods-id,
      .goods-name,
      .goods-price,
      .customer-email,
      .customer-name,
      .customer-account,
      .customer-bankcode,
      .customer-accountnum,
      .transaction-time,
      .transaction-calcel,
      .transaction-confirm {
        border-radius: 10px;
        height: 249px;
        background: linear-gradient(
          120deg,
          #e5e5e5 30%,
          #f0f0f0 38%,
          #f0f0f0 40%,
          #e5e5e5 48%
        );
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: blinker 1s linear infinite;
      }
      @keyframes blinker {
        100% {
          background-position: -100% 0;
        }
      }
    }
  }
}
