// 에러
.swal2-popup.swal2-modal.swal2-icon-error.swal2-show {
  border-radius: 0;
  .swal2-icon.swal2-error {
    border-color: #424242;
    color: #424242;
    .swal2-x-mark {
      .swal2-x-mark-line-left,
      .swal2-x-mark-line-right {
        background-color: #424242;
      }
    }
  }
  .swal2-actions {
    .swal2-confirm.swal2-styled {
      background-color: #424242;
      border-radius: 0;
    }
    .swal2-styled.swal2-confirm:focus {
      box-shadow: 0 0 0 3px rgba(85, 85, 85, 0.5);
    }
  }
}
// 물음표
.swal2-popup.swal2-modal.swal2-icon-question.swal2-show {
  border-radius: 0;
  .swal2-icon.swal2-question {
    border-color: #424242;
    .swal2-icon-content {
      color: #424242;
    }
  }
  .swal2-actions {
    .swal2-confirm.swal2-styled {
      background-color: #424242;
      border-radius: 0;
    }
    .swal2-styled.swal2-confirm:focus {
      box-shadow: 0 0 0 3px rgba(85, 85, 85, 0.5);
    }
  }
}
// 체크
.swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
  border-radius: 0;
  .swal2-icon.swal2-success.swal2-icon-show {
    div {
      border-color: #424242;
      color: #424242;
    }
    .swal2-success-line-tip,
    .swal2-success-line-long {
      background-color: #424242;
    }
  }
}

.swal2-popup.swal2-modal.swal2-icon-info.swal2-show {
  border-radius: 0;
  .swal2-icon.swal2-info.swal2-icon-show {
    border-color: #424242;
    .swal2-icon-content {
      color: #424242;
    }
  }
}
.swal2-popup.swal2-modal.swal2-show {
  .swal2-actions {
    button {
      background-color: #424242;
      border-radius: 0;
    }
    .swal2-styled.swal2-confirm:focus {
      box-shadow: 0 0 0 3px rgba(85, 85, 85, 0.5);
    }
  }
}

.swal2-popup.swal2-modal.swal2-show {
  border-radius: 0;
  h2 {
    font-size: 20px;
    padding: 40px 0 10px;
  }
  .swal2-actions {
    .swal2-confirm.swal2-styled {
      background-color: #424242;
      border-radius: 0;
    }
    .swal2-styled.swal2-confirm:focus {
      box-shadow: 0 0 0 3px rgba(85, 85, 85, 0.5);
    }
  }
}
.swal2-container.swal2-center.swal2-backdrop-show {
  .swal2-icon.swal2-warning {
    border-color: #424242;
  }
  .swal2-icon-content {
    color: #424242;
  }
}
