// 변수
/* Color styles */
$color_product_tag: #999999;
$color_black: #333333;
$color_discount_rate: #fa622f;
$color_original_price: #b5b5b5;
$color_primary: #414141;
$color_btn_border: rgb(221, 221, 221);
$color_incorrect: #f03f40;
$color_white: #ffffff;
$color_copyright: rgb(247, 247, 247);
$color_devide_line: rgb(244, 244, 244);

a {
  text-decoration: none;
  color: inherit;
}
#wrap {
  min-width: 1440px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.3px;
}

.inner__wrapper {
  width: 1050px;
  margin: 0 auto;
}
header {
  padding-top: 42px;
  background-color: $color_white;
  .header__top {
    position: relative;
    height: 100px;
    padding-top: 36px;
    box-sizing: border-box;
    letter-spacing: -0.3px;
    .header__menu {
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: 20;
      display: flex;
      .header__menu-item {
        padding: 0 12px;
        font-size: 12px;
        font-weight: 500;
        &:first-child {
          position: relative;
          color: $color_primary;
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: -1px;
            background-color: $color_btn_border;
            width: 1px;
            height: 13px;
          }
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
    .header__items {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: fit-content;
        height: 63px;
        display: flex;
        align-items: center;
        img {
          width: 180px;
          height: 100%;
          margin-right: 20px;
        }
      }
      .search {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 50%;
        box-sizing: border-box;
        transform: translateX(-50%);
        width: 400px;
        height: 48px;
        border-bottom: 3px solid $color_product_tag;
        border-radius: 1px;
        input {
          text-align: center;
          width: 300px;
          margin: auto;
          border: none;
          font-size: 16px;
          line-height: 1.2;
          letter-spacing: -0.5px;
          color: $color_black;
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: $color_product_tag;
          }
        }
        button {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 8px;
          margin: auto;
          width: 28px;
          height: 28px;
          border: none;
          background-color: transparent;
          background-image: url("../static/images/search.svg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
        }
      }
      .header__icon_menus {
        display: flex;
        li {
          a {
            display: block;
            width: 36px;
            height: 36px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }
          &:first-child {
            margin-right: 20px;
            background-image: url("../static/images/wish.svg");
          }
          &:last-child {
            background-image: url("../static/images/cart.svg");
          }
        }
      }
    }
  }
  .header__bottom {
    margin-top: 20px;
    height: 56px;
    .header__tablist {
      width: min-content;
      margin: auto;
      height: 100%;
      display: flex;
      .header__tablist-item {
        width: 150px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          font-size: 16px;
          font-weight: 500;
          &:hover {
            color: $color_primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#main {
  .cart-title {
    width: 1050px;
    height: 133px;
    text-align: center;
    padding: 50px 0px 48px;
    font-size: 28px;
    margin: auto;
    box-sizing: border-box;
  }
  .cart-section {
    position: relative;
    width: 1050px;
    height: 942px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: auto;

    .cart-left {
      width: 742px;
      box-sizing: border-box;
      .cart-left-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 10px 16px 2px;
        font-size: 14px;
        line-height: 26px;
        font-weight: 500;
        box-sizing: border-box;
        border-bottom: 1px solid $color_primary;
        .cart-left-container {
          display: flex;
          box-sizing: border-box;
          margin: 0;
          ul {
            list-style-type: none;
            .product-list {
              display: flex;
              align-items: center;
              position: relative;
              padding: 20px 0px;
              .checkbox {
                margin-left: 2px;
                .push-checkbox {
                  box-sizing: border-box;
                  padding: 0;
                }
              }
            }
          }
          .cart-optionbox {
            display: inline-flex;
            font-size: 14px;
            line-height: 26px;
            padding: 0px;
            color: rgb(51, 51, 51);
            .left-container-check {
              display: none;
              box-sizing: border-box;
              padding: 0;
            }
            img {
              display: inline-block;
              width: 24px;
              height: 24px;
              margin-right: 12px;
            }
            .left-container-text {
              box-sizing: border-box;
              margin: 0;
            }
          }
          .option-middle {
            display: inline-block;
            width: 1px;
            height: 14px;
            background: rgb(221, 221, 221);
            margin: 6px 21px 0px 22px;
            vertical-align: top;
          }
          .option-left {
            font-size: 14px;
            color: #333;
            overflow: visible;
            background-color: transparent;
            border: none;
          }
        }
      }
      .cart-left-center {
        border-bottom: 1px solid $color_devide_line;
        ul {
          list-style-type: none;
          .product-list {
            display: flex;
            align-items: center;
            position: relative;
            padding: 20px 0px;
            .checkbox {
              margin-left: 2px;
              .push-checkbox {
                overflow: hidden;
                position: absolute;
                clip: rect(0 0 0 0);
                clip-path: inset(50%);
                width: 1px;
                height: 1px;
              }
              img {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-right: 12px;
                object-fit: cover;
              }
            }
            .product-image-box {
              display: inline-block;
              width: 60px;
              height: 60px;
              margin-right: 20px;
              background: url(https://res.kurly.com/kurly/bg/no_img.svg) center center no-repeat rgb(245, 245, 245);
              .product-image {
                display: block;
                height: 100%;
                background-image: url(https://product-image.kurly.com/product/image/07123a13-3d24-40a7-975b-2413e4572a0a.jpg);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
              }
            }
            .product-detail-title {
              display: flex;
              flex-direction: column;
              width: 345px;
              margin-right: 20px;
              overflow: hidden;
              white-space: nowrap;
              word-break: break-all;
              .product-title {
                background-color: transparent;
                text-decoration: none;
                color: inherit;
                cursor: pointer;
                .product-title-text {
                  max-height: 54px;
                  padding-top: 8px;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 22px;
                  display: -webkit-box;
                  overflow: hidden;
                  word-break: break-all;
                  white-space: normal;
                }
              }
              .product-title-space {
                display: flex;
                margin-top: 10px;
              }
            }
            .product-detail-count {
              display: inline-flex;
              flex-direction: row;
              align-items: center;
              border: 1px solid rgb(221, 223, 225);
              width: 88px;
              border-radius: 3px;
              .product-count-button {
                display: inline-flex;
                width: 28px;
                height: 28px;
                border: none;
                font-size: 1px;
                color: transparent;
                background-size: cover;
                background-color: transparent;
                vertical-align: top;
              }
              .product-count-button.minus {
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMCAxNHYySDEwdi0yeiIgZmlsbD0iI0RERCIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=);
              }
              .product-count-button.plus {
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNiAxMHY0aDR2MmgtNHY0aC0ydi00aC00di0yaDR2LTRoMnoiIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0ibm9uemVybyIvPgo8L3N2Zz4K);
              }
              .product-count-number {
                display: inline-flex;
                overflow: hidden;
                white-space: nowrap;
                justify-content: center;
                font-size: 14px;
                font-weight: 400;
                color: $color_primary;
                text-align: center;
                width: 31px;
                height: 28px;
                line-height: 28px;
              }
            }
            .product-detail-price {
              display: flex;
              flex-direction: column;
              width: 127px;
              text-align: right;
              word-break: break-all;
              .product-price {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $color_primary;
              }
            }
            .product-delete-button {
              width: 30px;
              height: 30px;
              margin-left: 9px;
              .delete-button {
                width: 30px;
                height: 30px;
                display: inline-block;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMSA5Ljc2MiAyMC4yMzggOSAxNSAxNC4yMzggOS43NjIgOSA5IDkuNzYyIDE0LjIzOCAxNSA5IDIwLjIzOGwuNzYyLjc2MkwxNSAxNS43NjIgMjAuMjM4IDIxbC43NjItLjc2MkwxNS43NjIgMTV6IiBmaWxsPSIjQ0NDIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==);
                background-size: cover;
                background-position: center center;
              }
            }
          }
        }
        .center-text-box {
          padding: 115px 0px;
          border-top: 1px solid rgb(51, 51, 51);
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: $color_original_price;
        }
      }
    }
    .cart-right {
      width: 284px;
      height: auto;
      padding-top: 60px;

      .cart-right-sticky {
        position: sticky;
        top: 60px;
        right: 0px;
        height: auto;
        .cart-bills-top {
          padding: 23px 19px 20px;
          border: 1px solid #f2f2f2;
          border-bottom: 0;
          .bills-top-text {
            padding-left: 24px;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            background-size: 20px 20px;
            background: url(https://res.kurly.com/pc/service/cart/2007/ico_location.svg) 0px 50% / 20px 20px no-repeat;
          }
          .bills-top-main {
            padding-top: 12px;
            font-size: 16px;
            line-height: 24px;
            color: #333;
            .bills-main-text {
              padding-bottom: 16px;
              font-weight: 500;
              em {
                font-style: normal;
                color: #5f0080;
              }
              .bills-main-textend {
                white-space: nowrap;
              }
            }
            .search-address {
              display: flex;
              padding: 0 10px;
              text-align: center;
              justify-content: center;
              overflow: hidden;
              width: 244px;
              height: 36px;
              color: $color_primary;
              box-sizing: border-box;
              background-color: #fff;
              border: 1px solid $color_primary;
              .search-address:hover {
                border: 1px solid $color-primary;
                box-sizing: border-box;
                background-color: $color-white;
                color: $color-primary;
              }
              .search-address-text {
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                margin: auto;
                display: flex;
                img {
                  margin-right: 0;
                  vertical-align: top;
                }
              }
            }
          }
        }
        .cart-bills-main {
          padding: 19px 18px 18px 20px;
          border: 1px solid #f2f2f2;
          background-color: #fafafa;
          .cart-bills-line {
            font-size: 16px;
            justify-content: space-between;
            display: flex;
            line-height: 24px;
            padding: 4px 0;
            .price-text {
              width: 100px;
              white-space: nowrap;
            }
            .price-money {
              text-align: right;
            }
          }
          .pay-wrapper {
            margin-top: 16px;
            padding-top: 18px;
            border-top: 1px solid #f4f4f4;
          }
        }
        .cart-bills-push {
          padding-top: 20px;
          .bills-push-btn {
            display: block;
            padding: 0 10px;
            text-align: center;
            overflow: hidden;
            width: 100%;
            height: 56px;
            color: #fff;
            border: 0 none;
            font-weight: 500;
            background-color: #ddd;
            box-sizing: border-box;
            .push-btn-txt {
              display: inline-block;
              font-size: 16px;
              font-weight: 500;
            }
          }
          .description {
            padding: 16px 0;
            list-style-type: none;
            .description-option {
              position: relative;
              font-size: 12px;
              line-height: 16px;
              padding-left: 7px;
              padding-top: 4px;
              color: #666;
            }
          }
        }
      }
    }
  }
}

footer {
  border-top: 1px solid $color_btn_border;
  padding-top: 40px;
  .inner__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    .footer__team-info1 {
      width: 50%;
      .team-name {
        display: flex;
        padding-bottom: 20px;
        img {
          width: 100px;
          height: 100px;
          margin-right: 20px;
        }
        .team-name-desc {
          padding-top: 20px;
          p {
            font-size: 20px;
            margin-bottom: 20px;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
      .team-members {
        display: flex;
        flex-wrap: wrap;
        @for $i from 1 through 5 {
          .team-member:nth-child(#{$i}) {
            .profile_thumbnail {
              background-image: url("../static/images/member_0#{$i}.png");
            }
          }
        }
        .team-member {
          display: flex;
          width: 50%;
          margin-bottom: 20px;
          .profile_thumbnail {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            border-radius: 25px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
          .profile_info {
            .member-name {
              font-size: 16px;
              margin-bottom: 10px;
            }
            .member-github {
              font-size: 12px;
            }
          }
        }
      }
    }
    .footer__team-info2 {
      width: 45%;
      .footer-title {
        font-size: 20px;
        margin-bottom: 20px;
      }
      .team-skillset {
        padding: 20px 0;
        img {
          margin-right: 4px;
          border-radius: 4px;
        }
        .skill-list {
          margin-bottom: 10px;
        }
      }
      .team-inquiry {
        padding-top: 30px;
        .inquiry-area {
          display: flex;
          .inquiry-btn {
            display: inline-block;
            width: 140px;
            height: 40px;
            margin-right: 12px;
            text-align: center;
            line-height: 40px;
            border: 1px solid $color_btn_border;
          }
          .inquiry-text {
            line-height: 22px;
            font-size: 14px;
            color: $color_product_tag;
          }
        }
        .inquiry-email {
          margin-top: 20px;
          font-size: 12px;
          line-height: 1.4;
          color: $color_product_tag;
          p {
            margin-bottom: 2px;
          }
        }
      }
    }
  }
  .copyright {
    padding: 20px 0;
    background-color: $color_copyright;
    p {
      font-size: 12px;
      text-align: center;
      color: $color_product_tag;
    }
  }
}

// login page
.login__inner__wrapper {
  margin: auto;
  margin-top: 90px;
  width: 340px;

  form {
    width: 100%;
    padding-bottom: 60px;
    input {
      width: 100%;
      height: 54px;
      font-size: 14px;
      box-sizing: border-box;
      padding: 0px 11px 1px 15px;
      border-radius: 4px;
      border: 1px solid $color_btn_border;
      font-weight: 400;
      line-height: 1.5;
      &:first-child {
        margin-bottom: 10px;
      }
      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }
    button {
      display: block;
      width: 100%;
      height: 54px;
      font-size: 14px;
      border-radius: 3px;
      background-color: $color_primary;
      color: $color_white;
      font-weight: 500;
    }

    .signup-btn {
      margin-top: 10px;
      background-color: $color_white;
      border: 1px solid $color_primary;
      color: $color_primary;
      font-weight: normal;
      box-sizing: border-box;
    }
  }
}
