// 변수
/* Color styles */
$color_product_tag: #999999;
$color_black: #333333;
$color_discount_rate: #fa622f;
$color_original_price: #b5b5b5;
$color_primary: #414141;
$color_btn_border: rgb(221, 221, 221);
$color_incorrect: #f03f40;
$color_white: #ffffff;
$color_copyright: rgb(247, 247, 247);
$color_devide_line: rgb(244, 244, 244);

#main {
  .cart-wrapper {
    .main-title {
      margin-top: 100px;
    }
  }
  .cart-section {
    position: relative;
    width: 1050px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: auto;

    .cart-list {
      width: 742px;
      box-sizing: border-box;
      .cart-list-tab {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 26px;
        font-weight: 500;
        box-sizing: border-box;
        border-bottom: 1px solid $color_primary;
        .check-all-area {
          display: flex;
          width: 100px;
          height: 60px;
          align-items: center;
          margin-right: 30px;
          input {
            width: 0;
            height: 0;
            visibility: hidden;
          }
          .checkbox-icon {
            width: 24px;
            height: 24px;
            margin-right: 14px;
            background-image: url("../static/images/cart-checkbox.svg");
          }
          input:checked + .checkbox-icon {
            background-image: url("../static/images/cart-checkbox-checked.svg");
          }
        }
        .delete-button {
          position: relative;
          &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -20px;
            display: block;
            content: "";
            width: 1px;
            height: 16px;
            background-color: $color_product_tag;
          }
        }
      }
      .cart-list-area {
        .product-list {
          position: relative;
          min-height: 700px;
          .no-list {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              text-align: center;
              font-size: 30px;
              color: $color_primary;
            }
          }
          .skeleton-li {
            width: 100%;
            height: 100px;
            background-color: #fff;
            display: flex;
            align-items: center;
            .skeleton {
              border-radius: 10px;
              background: linear-gradient(
                120deg,
                #e5e5e5 30%,
                #f0f0f0 38%,
                #f0f0f0 40%,
                #e5e5e5 48%
              );
              background-size: 200% 100%;
              background-position: 100% 0;
              animation: blinker 1s linear infinite;
            }
            .skeleton-check {
              width: 24px;
              height: 24px;
              margin-right: 14px;
            }
            .skeleton-img {
              height: 60px;
              width: 60px;
              margin-right: 20px;
            }
            .skeleton-text {
              width: 240px;
              height: 30px;
              margin-right: 115px;
              &:nth-child(5) {
                width: 60px;
                margin-right: 0;
                margin-left: 70px;
              }
            }

            .skeleton-button {
              width: 78px;
              height: 28px;
              &:last-child {
                margin-left: 20px;
                width: 28px;
              }
            }
          }
          .product-li {
            height: 60px;
            border-bottom: 1px solid $color_devide_line;
            display: flex;
            align-items: center;
            position: relative;
            padding: 20px 0px;
            .check-item-area {
              display: flex;
              align-items: center;
              input {
                width: 0;
                height: 0;
                visibility: hidden;
              }
              .checkbox-icon {
                width: 24px;
                height: 24px;
                margin-right: 14px;
                background-image: url("../static/images/cart-checkbox.svg");
              }
              input:checked + .checkbox-icon {
                background-image: url("../static/images/cart-checkbox-checked.svg");
              }
            }
            .product-area {
              display: flex;
              width: 420px;
              height: 60px;
              margin-right: 20px;
              align-items: center;
              justify-content: space-between;
              .product-thumbnail {
                width: 60px;
                height: 100%;
                background-color: #eee;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
            .product-detail-title {
              display: flex;
              flex-direction: column;
              width: 345px;
              overflow: hidden;
              white-space: nowrap;
              word-break: break-all;
              .product-title {
                margin-top: 0;
                background-color: transparent;
                text-decoration: none;
                color: inherit;
                cursor: pointer;
                .product-title-text {
                  max-height: 54px;
                  padding-top: 8px;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 22px;
                  display: -webkit-box;
                  overflow: hidden;
                  word-break: break-all;
                  white-space: normal;
                }
              }
              .product-title-space {
                display: flex;
                margin-top: 10px;
              }
            }
            .product-quantity {
              display: flex;

              button {
                width: 25px;
                height: 25px;
                border: 1px solid #b5b5b5;
                line-height: 25px;
                font-size: 18px;
              }
              .count {
                width: 25px;
                height: 25px;
                border-top: 1px solid #b5b5b5;
                border-bottom: 1px solid #b5b5b5;
                text-align: center;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 15px;
              }
            }
            .product-price {
              width: 130px;
              text-align: right;
              word-break: break-all;
              line-height: 24px;
              font-weight: 700;
              font-size: 16px;
              margin-right: 6px;
              color: $color_primary;
              .product-origin-price {
                font-size: 14px;
                color: $color_original_price;
                text-decoration: line-through;
              }
            }
            .product-delete-button {
              width: 30px;
              height: 30px;
              margin-left: 9px;
              background-image: url("../static/images/cart-delete-button.svg");
              background-size: cover;
              background-position: center center;
            }
          }
        }
        .center-text-box {
          padding: 115px 0px;
          border-top: 1px solid rgb(51, 51, 51);
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: $color_original_price;
        }
      }
    }
    .cart-total-area {
      width: 284px;
      height: auto;
      padding-top: 60px;

      .cart-total {
        position: sticky;
        top: 60px;
        right: 0px;
        height: auto;
        .cart-bills-top {
          width: 100%;
          height: 190px;
          border: 1px solid #f2f2f2;
          border-bottom: 0;
          background-image: url("../static/images/cart_banner.png");
          background-size: cover;
          opacity: 0.8;
        }
        .cart-bills-main {
          padding: 19px 18px 18px 20px;
          border: 1px solid #f2f2f2;
          background-color: #fafafa;
          .cart-bills-line {
            font-size: 16px;
            justify-content: space-between;
            display: flex;
            line-height: 24px;
            padding: 4px 0;
            &:last-child {
              margin-top: 16px;
              padding-top: 18px;
              border-top: 1px solid #f4f4f4;
            }
            .price-text {
              width: 100px;
              white-space: nowrap;
            }
            .price-money {
              text-align: right;
            }
          }
        }
        .payment-area {
          padding-top: 20px;
          .payment-button {
            display: block;
            padding: 0 10px;
            text-align: center;
            overflow: hidden;
            width: 100%;
            height: 56px;
            color: #fff;
            border: 0 none;
            font-weight: 500;
            background-color: #ddd;
            box-sizing: border-box;
            &.active {
              background-color: $color_primary;
            }
            .push-btn-txt {
              display: inline-block;
              font-size: 16px;
              font-weight: 500;
            }
          }
          .description {
            padding: 16px 0;
            list-style-type: none;
            .description-option {
              position: relative;
              font-size: 12px;
              line-height: 16px;
              padding-left: 7px;
              padding-top: 4px;
              color: #666;
            }
          }
        }
      }
    }
  }
}
