// 색상 변수 모듈 생성되면 import문 추가 예정

/* Color styles */
$color_product_tag: #999999;
$color_black: #333333;
$color_discount_rate: #fa622f;
$color_original_price: #b5b5b5;
$color_primary: #414141;
$color_btn_border: rgb(221, 221, 221);
$color_incorrect: #f03f40;
$color_white: #ffffff;
$color_copyright: rgb(247, 247, 247);

$bg_sidebar : rgb(250,250,250);

/* COMMON */
body {
  color : $color_primary;  
}

#main {
  > .inner-wrapper {
    display : flex;
    justify-content: space-between;
    padding : 50px 0px 80px;
  }
}

/* SIDE BAR */
.side-bar {
  width : 200px;
  // background-color: wheat;
  h2 {
    padding: 5px 0px 35px 1px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
  }
  .menu {
    border : 1px solid rgb(242, 242, 242);
    .item {
      color : rgb(102, 102, 102);
      &:active {
        background-color: $bg_sidebar;
        color : $color_black;
      }
      &:hover {
        background-color: $bg_sidebar;
      }
      a {
        display : flex;
        justify-content: space-between;
        align-items: center;
        padding : 14px 20px 16px;
        font: {
          size : 14px;
          weight : 500;
        }
        line-height: 19px;
      }
    }
    > .active {
      background-color: $bg_sidebar;
    }
  }
  > a {
    height: 60px;
    padding: 0px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 100px 100px 0px;
    background-color: $bg_sidebar;
    line-height: 20px;

    div {
      display : flex;
      flex-direction: column;
      color: $color_primary;
      span:first-child {
        font-size: 14px;
        font-weight: 500;
      }
      span:last-child {
        font-size: 12px;
      }
    }
  }
}

/* USER INFO SECTION */
.user-info {
  width: 100%;
  padding: 50px 0px;
  margin-bottom: -20px;
  background-color: rgb(247, 247, 247);
  .inner-wrapper {
    display: flex;
    gap : 4px;
    height: 210px;
    .info {
      box-sizing: border-box;
      height : 100%;
      background: rgb(255, 255, 255);
      flex-grow : 1;
      flex-basis: 0;
      padding: 30px 30px 26px;
      &:first-child {
        flex-grow : 1.6;
        font-weight: 500;
        font-size: 20px;
      }
      &:last-child {
        font-weight: 500;
        font-size: 22px;
        .bi-chevron-right {
          margin-left : 6px;
        }
      }
      .title {
        font-weight: 500;
        display : flex;
        align-items: center;
        .bi-chevron-right {
          margin-left : 6px;
        }
      }
      span {
        font-weight: 700;
        font-size: 20px;
        color: $color_primary;
        margin-top: 20px;
      }
    }
  }
}

/* MAIN SECTION */
.main {
  width : 820px;
  padding : 0;
  .header {
    display : flex;
    justify-content: space-between;
    width : 100%;
    padding-bottom : 27px;
    .wrapper {
      display : flex;
      align-items: center;
      h2 {
        font-weight: 500;
        font-size: 24px;
        color: $color_primary;
        letter-spacing: -0.5px;
        line-height: 48px;
      }
      p {
        padding-left: 11px;
        font-size: 14px;
        letter-spacing: -0.3px;
        color: rgb(153, 153, 153);
        line-height: 20px;
        margin-top: 3px;
      }
    }
  }
  .divider {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid $color_primary;
  }
  .order-list {
    padding-top: 20px;
    .item {
      padding: 16px 20px;
      margin-bottom: 14px;
      .wrapper {
        display: flex;
        padding: 8px 0px 13px;
        justify-content: space-between;
        border-bottom: 1px solid rgb(221, 223, 225);

        span {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.31;
          color: $color_primary;
        }
        a {
          align-self: center;
          padding-right: 10px;
          line-height: 1.33;
          font-size: 12px;
          color: $color_primary;
          background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEwIDEwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4KICAgICAgICA8ZyBzdHJva2U9IiMzMzMiPgogICAgICAgICAgPHBhdGggZD0iTTAgMEw0IDQgMCA4IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTIxNS4wMDAwMDAsIC02OTkuMDAwMDAwKSB0cmFuc2xhdGUoMTk1LjAwMDAwMCwgNTczLjAwMDAwMCkgdHJhbnNsYXRlKDIzMC4wMDAwMDAsIDk2LjAwMDAwMCkgdHJhbnNsYXRlKDIwLjAwMDAwMCwgMTYuMDAwMDAwKSB0cmFuc2xhdGUoNjMwLjAwMDAwMCwgMTAuMDAwMDAwKSB0cmFuc2xhdGUoMTQ0LjAwMDAwMCwgNS4wMDAwMDApIi8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K) right center / 10px 10px no-repeat;
        }
      }
      .order-area {
        display: flex;
        justify-content: space-between;
        padding: 14px 0px 16px;
        .info {
          display: flex;
          flex-direction: row;
          align-items: center;
          .thumbnail {
            height: 78px;
            margin-right: 20px;
            background-color: rgb(245, 245, 245);
          }
          .info-list {
            display : flex;
            flex-direction: column;
            dl {
              display: flex;
              padding-top: 6px;
              align-items: center;
              color: rgb(0, 0, 0);
              line-height: 20px;
              dt {
                width : 60px;
                line-height: 1.58;
                margin-right: 10px;
                font-size: 12px;
                color: $color_primary;
              }
              dd {
                flex: 1 1 0%;
                font-weight: 500;
                color: $color_primary;
                line-height: 1.36;
                display: -webkit-box;
                overflow: hidden;
                word-break: break-all;
                white-space: normal;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                font-size: 14px;
              }
              
            }
          }
        }
        .side-info {
          display: flex;
          align-items: center;
          > span {
            width: 100px;
            font-size: 16px;
            font-weight: 500;
            text-align: right;
            color: $color_primary;
            margin-right: 20px;
          }
          div {
            width: 96px;
            button {
              display: block;
              padding: 0px 10px;
              text-align: center;
              overflow: hidden;
              width: 100%;
              height: 36px;
              color: $color_primary;
              background-color: rgb(255, 255, 255);
              border: 1px solid $color_primary;
              cursor: pointer;
              span {
                font-size: 12px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}