// 변수
/* Color styles */
$color_product_tag: #999999;
$color_black: #333333;
$color_discount_rate: #fa622f;
$color_original_price: #b5b5b5;
$color_primary: #414141;
$color_btn_border: rgb(221, 221, 221);
$color_incorrect: #f03f40;
$color_white: #ffffff;
$color_copyright: rgb(247, 247, 247);
$color_banner_btn: #fbcd57;

.product-banner {
  height: 400px;
  background-color: #eee;
}

.product-title {
  margin-top: 50px;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: -1px;
  text-align: center;
}

.product-wrapper {
  width: 1050px;
  margin-top: 50px;
  margin-bottom: 75px;
  .no-result {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
      margin-bottom: 20px;
    }
    p {
      color: $color_product_tag;
    }
  }
  .total-count {
    font-size: 14px;
    .count {
      font-weight: 500;
    }
  }
  .product-tab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    .sort-tab {
      display: flex;
      li {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 8px;
        font-size: 14px;
        color: $color_product_tag;
        &::before {
          content: "";
          display: flex;
          width: 1px;
          height: 10px;
          margin-right: 8px;
          background-color: $color_product_tag;
        }
        &:first-child::before {
          display: none;
        }
        &.selected {
          color: $color_primary;
        }
      }
    }
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 249px);
    gap: 31px 18px;
    width: 100%;
    .product-thumbnail {
      overflow: hidden;
      position: relative;
      background-color: rgb(245, 245, 245);
      width: 250px;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 97%;
        height: 97%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
      &:hover > img {
        transform: scale(1.03);
      }
      button {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 47px;
        height: 47px;
        background-image: url("../static/images/product-add-cart-btn.svg");
        background-size: cover;
      }
    }
    .product-info {
      padding: 14px 10px 0px 0px;
      .category {
        padding-bottom: 2px;
        font-size: 14px;
        color: $color_product_tag;
        line-height: 19px;
        letter-spacing: -0.5px;
      }
      .product-name {
        max-height: 58px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: normal;
        display: -webkit-box;
        overflow: hidden;
        word-break: break-all;
        white-space: normal;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .product-price {
        padding-top: 8px;
        div:first-child {
          font-size: 16px;
          font-weight: 800;
          line-height: 24px;
          letter-spacing: -0.5px;
          white-space: nowrap;
        }
        .discount-rate {
          margin-right: 7px;
          color: $color_discount_rate;
        }
        .dimmed-price {
          padding-top: 1px;
          color: $color_original_price;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          text-decoration: line-through;
        }
      }
    }
  }
}
