// 변수
/* Color styles */
$color_product_tag: #999999;
$color_black: #333333;
$color_discount_rate: #fa622f;
$color_original_price: #b5b5b5;
$color_primary: #414141;
$color_btn_border: rgb(221, 221, 221);
$color_incorrect: #f03f40;
$color_white: #ffffff;
$color_copyright: rgb(247, 247, 247);
$color_banner_btn: #fbcd57;
a {
  text-decoration: none;
  color: inherit;
}
#wrap {
  min-width: 1440px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.3px;
}

.inner-wrapper {
  width: 1050px;
  margin: 0 auto;
}
header {
  padding-top: 42px;
  background-color: $color_white;
  border-bottom: 1px solid $color_btn_border;
  .header-top {
    position: relative;
    height: 100px;
    padding-top: 36px;
    box-sizing: border-box;
    letter-spacing: -0.3px;
    .header-menu {
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: 20;
      display: flex;
      .header-menu-item {
        padding: 0 12px;
        font-size: 12px;
        font-weight: 500;
        &:first-child {
          position: relative;
          color: $color_primary;
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: -1px;
            background-color: $color_btn_border;
            width: 1px;
            height: 13px;
          }
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
    .header-items {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: fit-content;
        width: 100px;
        display: flex;
        align-items: center;
        img {
          width: 180px;
          height: auto;
          margin-right: 20px;
        }
      }
      .search {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 50%;
        box-sizing: border-box;
        transform: translateX(-50%);
        width: 340px;
        height: 38px;
        border-bottom: 2px solid $color_product_tag;
        border-radius: 1px;
        input {
          text-align: center;
          width: 300px;
          margin: auto;
          border: none;
          font-size: 16px;
          line-height: 1.2;
          letter-spacing: -0.5px;
          color: $color_black;
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: $color_product_tag;
          }
        }
        button {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 8px;
          margin: auto;
          width: 20px;
          height: 20px;
          border: none;
          background-color: transparent;
          background-image: url("../static/images/search.svg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
        }
      }
      .header-icon-menus {
        display: flex;
        li {
          a {
            display: block;
            width: 36px;
            height: 36px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }
          &:first-child {
            margin-right: 20px;
            background-image: url("../static/images/wish.svg");
          }
          &:last-child {
            background-image: url("../static/images/cart.svg");
          }
        }
      }
    }
  }
  .header-bottom {
    margin-top: 20px;
    height: 56px;
    .header-tablist {
      width: min-content;
      margin: auto;
      height: 100%;
      display: flex;
      .header-tablist-item {
        width: 150px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          font-size: 15px;
          font-weight: 500;
          &:hover {
            color: $color_primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

section {
  .product-detail-wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    .sold-out {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.8);
      align-items: center;
      justify-content: center;
      p {
        font-size: 40px;
        font-weight: 700;
        color: $color_primary;
      }
    }
    .thumbnail img {
      width: 500px;
      height: 500px;
      border: 1px solid #b5b5b5;
    }
    .info-wrapper {
      width: 450px;
      padding-top: 50px;
      .top-info {
        .product-title {
          font-size: 18px;
          font-weight: 700;
          text-align-last: left;
        }
        .product-price {
          font-size: 22px;
          font-weight: 800;
          padding-top: 30px;
        }
        .product-login-text {
          font-size: 12px;
          font-weight: 500;
          color: rgb(19, 0, 232);
          padding-top: 5px;
        }
        .product-quantity {
          display: flex;
          padding-top: 53px;
          .title {
            font-size: 14px;
            padding-right: 20px;
            line-height: 25px;
            color: rgb(84, 84, 84);
          }
          button {
            width: 25px;
            height: 25px;
            border: 1px solid #b5b5b5;
            line-height: 25px;
            font-size: 18px;
          }
          .count {
            width: 25px;
            height: 25px;
            border-top: 1px solid #b5b5b5;
            border-bottom: 1px solid #b5b5b5;
            text-align: center;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 15px;
          }
        }
      }
      .low-info {
        padding-top: 160px;
        .price-info {
          display: flex;
          align-items: flex-end;
          justify-content: end;
          padding-right: 50px;
          .desc {
            font-size: 12px;
            padding-bottom: 3px;
          }
          .total-price {
            font-size: 22px;
            font-weight: 600;
            padding-left: 10px;
          }
        }
        .btn-wrapper {
          display: flex;
          justify-content: space-between;
          padding-top: 30px;
          padding-right: 50px;

          .wish-btn {
            width: 40px;
            height: 40px;
            border: 1px solid #b5b5b5;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            background-image: url("../static/images/wish.svg");
            background-size: 30px;
            background-position: center;
            background-repeat: no-repeat;
            &.active {
              background-image: url("../static/images/wish-active.svg");
            }
          }
          .cart-btn {
            width: 300px;
            height: 40px;
            font-size: 14px;
            color: $color-white;
            background-color: $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .detail-img {
    display: flex;
    justify-content: center;
    padding-top: 120px;
  }
}
