// 변수
/* Color styles */
$color_product_tag: #999999;
$color_black: #333333;
$color_discount_rate: #fa622f;
$color_original_price: #b5b5b5;
$color_primary: #414141;
$color_btn_border: rgb(221, 221, 221);
$color_incorrect: #f03f40;
$color_white: #ffffff;
$color_copyright: rgb(247, 247, 247);
$bg_sidebar : rgb(250,250,250);

#main {
  /* USER INFO SECTION */
  .user-info {
    width: 100%;
    padding: 50px 0px;
    margin-bottom: -20px;
    background-color: rgb(247, 247, 247);
    > .inner-wrapper {
      position: relative;
      display: flex;
      gap : 4px;
      height: 300px;
      .info {
        box-sizing: border-box;
        height : 140px;
        background: rgb(255, 255, 255);
        padding: 26px 30px 26px;
        flex-grow : 1;
        flex-basis : 0;
        .wrapper {
          display : flex;
          align-items: center;
          gap : 20px;
          > .title {
            letter-spacing: 0.5px;
          }
        }
        &:first-child {
          flex-grow : 1.4;
        }
        .title {
          font-weight: 500;
          display : flex;
          justify-content: space-between;
          align-items: center;
          font-size : 20px;
          line-height: 24px;
        }
        .profile-image {
          width : 55px;
          height : 55px;
          // background-image: url("../static/images/member_02.png");
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
        }
        .content {
          font-weight: 700;
          font-size: 20px;
          color: $color_primary;
          margin-left : 30px;
        }
        .sub-link {
          line-height: 20px;
          margin-top : 20px;
          color : #969696;
          text-decoration: underline;
        }
        .sub-info {
          line-height: 20px;
          margin-top : 30px;
          color : #b1b1b1;
        }
      }
      .banner {
        position: absolute;
        width : 100%;
        height : 140px;
        top : 170px;
        .banner-image{
          width:100%;
          height: 100%;
          background-image: url(../static/images/sub_banner_01.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
      }
    }
  }

  > .mypage-wrapper {
    display : flex;
    justify-content: space-between;
    padding : 50px 0px 80px;

    /* SIDE BAR */
    .side-bar {
      width : 200px;
      // background-color: wheat;
      h2 {
        padding: 5px 0px 35px 1px;
        font-weight: 500;
        font-size: 28px;
        line-height: 35px;
        color: $color_primary;
        letter-spacing: -1px;
      }
      .menu {
        border : 1px solid rgb(242, 242, 242);
        .item {
          color : rgb(102, 102, 102);
          &:active {
            background-color: $bg_sidebar;
            color : $color_black;
          }
          &:hover {
            background-color: $bg_sidebar;
          }
          a {
            display : flex;
            justify-content: space-between;
            align-items: center;
            padding : 14px 20px 16px;
            font: {
              size : 14px;
              weight : 500;
            }
            line-height: 19px;
          }
        }
        > .active {
          background-color: $bg_sidebar;
        }
      }
      > a {
        height: 60px;
        padding: 0px 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px 100px 100px 0px;
        background-color: $bg_sidebar;
        line-height: 20px;

        div {
          display : flex;
          flex-direction: column;
          color: $color_primary;
          span:first-child {
            font-size: 14px;
            font-weight: 500;
          }
          span:last-child {
            font-size: 12px;
          }
        }
      }
    }
  }
}