/* MAIN SECTION */
#main {
  .order-sheet-wrapper {
    h2 {
      font-weight: 500;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -0.5px;
      padding-top: 48px;
      text-align: center;
    }
    .order-category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(51, 51, 51);
      &:not(:first-child) {
        margin-top: 60px;
      }
      &:nth-child(6) {
        .delivery-info-tab {
          display: flex;
          justify-content: space-between;
          position: relative;
          button {
            font-weight: 500;
            font-size: 14px;
            color: $color_product_tag;
            text-align: right;
            cursor: pointer;
          }
          .delivery-notice-message {
            display: flex;
            position: absolute;
            right: 0px;
            top: 34px;
            z-index: 3;
            width: 188px;
            height: 60px;
            padding: 14px;
            border-radius: 6px;
            box-sizing: border-box;
            background-color: $color_primary;
            font-size: 12px;
            color: $color_white;
            line-height: 17px;
            visibility: visible;
            opacity: 1;
            transition: 0.3s ease 0s;
            &::before {
              content: "";
              position: absolute;
              width: 0px;
              height: 0px;
              border-bottom: 20px solid $color_primary;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              top: -10px;
              right: 60px;
            }
            button {
              position: absolute;
              top: 14px;
              right: 14px;
              background-image: url("../static/images/ico_tooltip_close.svg");
              background-repeat: no-repeat;
              width: 16px;
              height: 17px;
              cursor: pointer;
            }
          }
        }
      }
      h3 {
        padding: 16px 0px;
        font-weight: 500;
        font-size: 20px;
        color: rgb(51, 51, 51);
        line-height: 29px;
      }
      button {
        border: 0px;
        background: none;
        outline: none;
        cursor: pointer;
        .button-icon {
          width: 30px;
          height: 30px;
          transform: rotateX(180deg);
        }
      }
    }
    .order-list-area {
      .summary {
        padding: 28px 0px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
        border-bottom: 1px solid rgb(244, 244, 244);
      }
      .list {
        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 25px 0px;
          border-bottom: 1px solid rgb(244, 244, 244);
          .thumbnail {
            height: 78px;
            margin-right: 10px;
          }
          .title-wrapper {
            width: 720px;
            padding: 0px 20px;
            .title {
              display: -webkit-box;
              overflow: hidden;
              max-height: 48px;
              font-size: 16px;
              line-height: 24px;
              color: rgb(0, 0, 0);
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              text-overflow: ellipsis;
            }
          }
          .quantity-wrapper {
            display: flex;
            align-items: center;
            width: 100px;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
          }
          .price-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: right;
            font-weight: 700;
            line-height: 22px;
            .discount-price {
              font-size: 16px;
              color: rgb(51, 51, 51);
            }
            .cost-price {
              font-size: 14px;
              line-height: 24px;
              color: rgb(153, 153, 153);
              word-break: break-all;
              text-decoration: line-through;
            }
          }
        }
      }
    }
    .orderer-area {
      padding: 10px 0px;
      .info {
        display: flex;
        justify-content: space-between;
        padding: 8px 0px;
        .info-title {
          line-height: 24px;
        }
        .content-wrapper {
          flex: 1 1 0%;
          .content {
            display: inline-flex;
            align-items: center;
            line-height: 24px;
          }
          .additional-info {
            margin-top: 10px;
            p {
              font-size: 12px;
              line-height: 21px;
              color: rgb(102, 102, 102);
            }
          }
        }
      }
    }
    .delivery-area {
      .destination-wrapper {
        display: flex;
        padding: 20px 0px;
        .info-title {
          display: inline-block;
          width: 160px;
          margin-right: 30px;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: rgb(51, 51, 51);
          letter-spacing: -0.32px;
          vertical-align: top;
        }
        .content {
          flex: 1 1 0%;
          .badge {
            display: inline-block;
            height: 22px;
            padding: 0px 8px;
            margin-bottom: 8px;
            border-radius: 11px;
            font-weight: 500;
            font-size: 12px;
            line-height: 22px;
            color: rgb(102, 102, 102);
            background-color: rgb(247, 247, 247);
            vertical-align: top;
          }
          .destination {
            display: block;
            font-size: 14px;
            line-height: 24px;
            color: rgb(51, 51, 51);
          }
        }
      }
    }
    .area-wrapper {
      display: flex;
      justify-content: space-between;
      .area-left {
        width: 742px;
        .order-category {
          margin-top: 60px;
        }
        .coupon-area {
          display: flex;
          padding: 20px 0px;

          .coupon-selector-wrapper {
            position: relative;
            flex: 1 1 0%;
            .coupon-selector {
              box-sizing: border-box;
              width: 100%;
              height: 44px;
              padding: 0px 54px 0px 16px;
              border: 1px solid rgb(221, 221, 221);
              font-size: 14px;
              line-height: 20px;
              text-align: left;
              background: rgb(250, 250, 250);
              color: rgb(204, 204, 204);
              cursor: pointer;
              i {
                position: absolute;
                top: 10px;
                right: 16px;
              }
            }
            .coupon-list {
              width: 100%;
              height: 0;
              position: absolute;
              top: 90%;
              opacity: 0;
              background: rgb(250, 250, 250);
              color: rgb(204, 204, 204);
              transition: 0.3s;
              .coupon {
                display: flex;
                align-items: center;
                margin: auto 0;
                height: 100%;
                font-size: 16px;
                line-height: 20px;
                text-align: left;
                padding: 0px 54px 0px 16px;
                border: 1px solid rgb(221, 221, 221);
                background: rgb(250, 250, 250);
                span {
                  cursor: pointer;
                }
              }
            }
            .opened {
              height: 100%;
              top: 100%;
              opacity: 1;
            }
          }
        }
        .payment-area {
          display: flex;
          padding: 20px 0px;
          .content {
            flex: 1 1 0%;
            .payment {
              background-color: $color-primary;
              color: #fff !important;
              display: block;
              line-height: 44px !important;
              margin-top: 16px;
              text-align: center;
              width: 100%;
            }
            .no-list {
              margin-top: 20px;
              align-items: center;
              background-color: #fafafa;
              border: 1px solid #f2f2f2;
              border-radius: 10px;
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              height: 180px;
              justify-content: center;
              margin-top: 20px;
              padding: 30px;
              &.d-none {
                display: none;
              }
              p {
                margin-bottom: 10px;
                font-size: 16px;
              }
              a {
                span {
                  font-size: 14px;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            .swiper {
              width: 552px;
              height: 180px;
              box-sizing: border-box;
              margin-top: 20px;
              &:hover .swiper-button-prev::after {
                opacity: 1;
              }
              &:hover .swiper-button-next::after {
                opacity: 1;
              }
              &.d-none {
                display: none;
              }
              .swiper-wrapper {
                .swiper-slide {
                  box-sizing: border-box;
                  padding: 30px 70px;
                  background-color: #fafafa;
                  border: 1px solid #f2f2f2;
                  .account-info {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    #bankName {
                      font-weight: bold;
                    }
                    #accountNumber {
                      margin: 8px 0 30px;
                    }
                    #balance {
                      text-align: end;
                    }
                  }
                }
              }
              .swiper-pagination {
                bottom: 15px;
                span {
                  background-color: $color-primary;
                }
              }
              .swiper-button-prev::after {
                font-size: 16px;
                color: $color-primary;
                opacity: 0;
                transition: opacity 0.2s ease;
              }
              .swiper-button-next::after {
                font-size: 16px;
                color: $color-primary;
                opacity: 0;
                transition: opacity 0.2s ease;
              }
            }
          }
        }
        .accumulated-cash-area {
          display: flex;
          padding: 20px 0px;
          .wrapper {
            flex: 1 1 0%;
            gap: 5px;
            > div {
              display: flex;
            }
            > div:first-child {
              .accumulated-cash {
                display: flex;
                align-items: center;
                width: 168px;
                margin-right: 8px;
                height: 44px;
                padding-left: 16px;
                border: 1px solid rgb(221, 221, 221);
                border-radius: 4px;
                font-size: 14px;
                line-height: 20px;
                text-align: left;
                background: rgb(250, 250, 250);
                color: rgb(204, 204, 204);
              }
              button {
                background: rgb(250, 250, 250);
                color: rgb(204, 204, 204);
                border: 1px solid rgb(221, 221, 221);
                border-radius: 4px;
                padding: 0px 10px;
                text-align: center;
                overflow: hidden;
                width: 100px;
                height: 44px;
                font-size: 14px;
                font-weight: 500;
              }
            }
            > div:nth-child(2) {
              margin-top: 10px;
              font-size: 14px;
              line-height: 20px;
              color: rgb(102, 102, 102);
            }
            > div:nth-child(3) {
              margin-top: 16px;
              font-size: 12px;
              line-height: 18px;
              color: rgb(102, 102, 102);
            }
          }
        }
      }
      .area-right {
        width: 284px;
        .area-amount {
          margin: 60px 0 20px;
          .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
              padding: 16px 0px;
              font-weight: 500;
              font-size: 20px;
              color: rgb(51, 51, 51);
              line-height: 29px;
            }
          }
          .list {
            padding: 17px 16px 18px 18px;
            background: rgb(250, 250, 250);
            border: 1px solid rgb(242, 242, 242);
            li {
              display: flex;
              justify-content: space-between;
              margin-top: 16px;
              font-size: 16px;
              color: rgb(51, 51, 51);
              padding-bottom: 8px;
              &:first-child {
                margin-top: 0px;
              }
              &:nth-child(2) {
                margin-top: 8px;
                display: flex;
                padding-left: 16px;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                color: rgb(153, 153, 153);
                background-image: url(https://res.kurly.com/mobile/service/common/2003/ico_sub_price_dot.png);
                background-repeat: no-repeat;
                background-size: 16px 20px;
                background-position: 0px -100%;
              }
              &:nth-child(3) {
                margin-top: 8px;
                display: flex;
                padding-left: 16px;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                color: rgb(153, 153, 153);
                background-image: url(https://res.kurly.com/mobile/service/common/2003/ico_sub_price_dot.png);
                background-repeat: no-repeat;
                background-size: 16px 20px;
                background-position: 0px -100%;
              }
              .title {
                width: 96px;
              }
              .amount-wrapper {
                span:first-child {
                  font-weight: bold;
                }
              }
              &:last-child {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 15px;
                font-size: 12px;
                color: rgb(102, 102, 102);
                .badge {
                  display: inline-block;
                  margin-right: 4px;
                  padding: 0px 7px;
                  border-radius: 9px;
                  background-color: rgb(255, 191, 0);
                  font-size: 10px;
                  line-height: 18px;
                  height: 18px;
                  color: rgb(255, 255, 255);
                  font-weight: 500;
                }
              }
            }
            .total {
              margin-top: 16px;
              padding: 16px 0px 1px;
              .amount-wrapper {
                display: flex;
                align-items: center;
              }
              #totalAmount {
                font-size: 22px;
                margin-right: 7px;
              }
            }
          }
        }
        .sticky {
          position: sticky;
          top: 0;
        }
      }
    }
    .private-info-consent {
      padding: 20px 0;
      div {
        display: flex;
        align-items: center;
        span {
          color: rgb(51, 51, 51);
          font-weight: 500;
          font-size: 18px;
        }
      }
      .list {
        padding-top: 16px;
        .item {
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 24px;
          &:not(:first-child) {
            margin-top: 6px;
          }
          span {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      img {
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-right: 12px;
        stroke: black;
      }
    }
    .sub-info {
      padding: 20px 0px 0px 16px;
      font-size: 12px;
      line-height: 16px;
      color: rgb(102, 102, 102);
      &::before {
        display: inline-block;
        width: 16px;
        margin-left: -16px;
        content: "※";
      }
    }
    .pay-button-area {
      text-align: center;
      .pay-button {
        box-sizing: border-box;
        display: block;
        position: relative;
        padding: 0px 10px;
        text-align: center;
        overflow: hidden;
        width: 240px;
        height: 56px;
        color: rgb(255, 255, 255);
        background-color: $color_primary;
        border: 0px none;
        margin: 40px auto 30px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s ease;
        span {
          display: inline-block;
          font-size: 16px;
        }
        &:hover {
          box-sizing: border-box;
          border: 1px solid $color_primary;
          background-color: #fff;
          color: $color-primary;
        }
        .spinner-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: none;
          justify-content: center;
          align-items: center;
          background-color: $color_primary;
          transition: background-color 0.3s ease;
          &:hover {
            background-color: #fff;
          }
          .spinner {
            width: 20px;
            height: 20px;
            border: 3px solid #f3f3f3;
            border-top: 3px solid $color_primary;
            border-radius: 50%;
            animation: spin 1s linear infinite;
          }
        }
      }
      .pay-sub-info {
        font-size: 14px;
        line-height: 20px;
        color: rgb(102, 102, 102);
      }
    }

    /* COMMON */
    .info-title {
      display: inline-block;
      width: 160px;
      margin-right: 30px;
      font-weight: 500;
      font-size: 14px;
      line-height: 44px;
      color: rgb(51, 51, 51);
      letter-spacing: -0.32px;
      vertical-align: top;
    }
  }
}
