#main {
  > .mypage-wrapper {
    /* MAIN SECTION */
    .order-list-wrapper {
      width: 820px;
      padding: 0;
      .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 27px;
        .wrapper {
          display: flex;
          align-items: center;
          h2 {
            font-weight: 500;
            font-size: 24px;
            color: $color_primary;
            letter-spacing: -0.5px;
            line-height: 48px;
          }
          p {
            padding-left: 11px;
            font-size: 14px;
            letter-spacing: -0.3px;
            color: rgb(153, 153, 153);
            line-height: 20px;
            margin-top: 3px;
          }
        }
        input {
          outline: none;
          width: 115px;
          padding: 0 10px;
          box-sizing: border-box;
          border: 1px solid $color_primary;
          border-radius: 0;
          text-align: center;
          font-size: 16px;
        }
      }
      .divider {
        display: flex;
        width: 100%;
        align-items: center;
        border-bottom: 2px solid $color_primary;
      }
      .order-list {
        padding-top: 20px;
        .skeleton-loading {
          box-sizing: border-box;
          background-color: $color-white;
          width: 100%;
          height: 100%;
          top: 0;
          &.d-none {
            display: none;
          }
          .skeleton {
            height: 112px;
            margin-bottom: 20px;
            background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
            background-size: 200% 100%;
            background-position: 100% 0;
            animation: blinker 1s linear infinite;
          }
        }
        > .content {
          .no-list {
            height: 75px;
            margin: 40px 0;
            text-align: center;
            letter-spacing: 0.3px;
            line-height: 75px;
          }
          .list-group {
            border: 1px solid #e6e6e6;
            background-color: #f9f9f9;
            margin-bottom: 20px;
            &:last-child {
              border-bottom: 1px solid #e6e6e6;
            }
            .list-title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 20px;
              cursor: pointer;
              transition: 0.3s ease;
              &:hover {
                background-color: #e7e7e7;
              }
              .title-info {
                display: flex;
                flex-direction: column;
                gap: 7px;
                .transaction-date {
                  color: #b4b4b4;
                  font-size: 14px;
                  margin-bottom: 10px;
                }
                .transaction-name {
                  font-size: 18px;
                }
                .transaction-price {
                  font-size: 16px;
                }
              }
              // spinner loading
              .spinner {
                width: 18px;
                height: 18px;
                border: 3px solid #e0e0e0;
                border-top: 3px solid $color_primary;
                border-radius: 50%;
                animation: spin 1s linear infinite;
                display: none;
                &.active {
                  display: block;
                }
              }
            }
            > ul {
              display: none;
              background-color: $color-white;
              border-top: 1px solid #e6e6e6;
              .item {
                position: relative;
                .order-area {
                  display: flex;
                  justify-content: space-between;
                  padding: 14px 20px 16px 20px;
                  .info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .thumbnail {
                      height: 78px;
                      margin-right: 20px;
                      background-color: rgb(245, 245, 245);
                    }
                    .info-list {
                      display: flex;
                      flex-direction: column;
                      dl {
                        display: flex;
                        padding-top: 6px;
                        align-items: center;
                        color: rgb(0, 0, 0);
                        line-height: 20px;
                        dt {
                          width: 60px;
                          line-height: 1.58;
                          margin-right: 10px;
                          font-size: 12px;
                          color: $color_primary;
                        }
                        dd {
                          flex: 1 1 0%;
                          font-weight: 500;
                          color: $color_primary;
                          line-height: 1.36;
                          display: -webkit-box;
                          overflow: hidden;
                          word-break: break-all;
                          white-space: normal;
                          -webkit-line-clamp: 1;
                          -webkit-box-orient: vertical;
                          font-size: 14px;
                        }
                      }
                    }
                  }
                  .side-info {
                    display: flex;
                    align-items: center;
                    > span {
                      width: 100px;
                      font-size: 14px;
                      font-weight: 500;
                      text-align: right;
                      color: $color_primary;
                      margin-right: 20px;
                    }
                    .buttons {
                      width: 84px;
                      button {
                        display: block;
                        padding: 0px 10px;
                        text-align: center;
                        overflow: hidden;
                        width: 100%;
                        height: 28px;
                        color: $color_primary;
                        background-color: $color-white;
                        border: 1px solid $color_primary;
                        cursor: pointer;
                        transition: 0.3s ease;
                        font-size: 12px;
                        box-sizing: border-box;
                        &:hover {
                          background-color: $color_primary;
                          color: $color-white;
                        }
                      }
                      .order-cancel-button {
                        margin-bottom: 10px;
                        &.inactive {
                          border: 1px solid rgba($color_primary, 0.6);
                          opacity: 0.6;
                          cursor: not-allowed;
                          &:hover {
                            color: $color_primary;
                            background-color: $color-white;
                          }
                        }
                      }
                      .order-confirm-button {
                        &.true {
                          background-color: $color_primary;
                          color: $color-white;
                          cursor: default;
                        }
                      }
                    }
                  }
                }
                .cancelled {
                  background-color: rgba(225, 225, 225, 0.5);
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: 1;
                  justify-content: center;
                  align-items: center;
                  &.true {
                    display: flex;
                  }
                  &.false {
                    display: none;
                  }
                  span {
                    font-size: 28px;
                    color: red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
