#content-wrapper {
  .product-detail-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $color_btn_border;
    display: flex;
    justify-content: space-between;
    position: relative;
    .sold-out {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $color_sold_out;
      align-items: center;
      justify-content: center;
      p {
        font-size: 40px;
        font-weight: 700;
        color: $color_primary;
      }
    }
    .thumbnail img {
      width: 500px;
      height: 500px;
      border: 1px solid $color_thumbnail;
    }
    .info-wrapper {
      width: 450px;
      padding-top: 50px;
      .top-info {
        .product-title {
          font-size: 20px;
          line-height: 1.4;
          font-weight: 700;
          text-align-last: left;
        }
        .product-price-area {
          display: flex;
          padding-top: 30px;
          flex-wrap: wrap;
          font-size: 22px;
          font-weight: 800;
          .product-price {
            margin-right: 10px;
          }
          .discount-rate {
            color: $color_discount_rate;
          }
          .origin-price {
            width: 100%;
            text-decoration: line-through;
            font-size: 16px;
            padding-top: 10px;
            color: $color_original_price;
            font-weight: 400;
          }
        }
        .product-login-text {
          font-size: 12px;
          font-weight: 500;
          color: $color_please_login;
          padding-top: 5px;
        }
        .product-quantity {
          display: flex;
          padding-top: 53px;
          .title {
            font-size: 14px;
            padding-right: 20px;
            line-height: 25px;
          }
          button {
            width: 25px;
            height: 25px;
            border: 1px solid $color_quantity_button;
            line-height: 25px;
            font-size: 18px;
          }
          .count {
            width: 25px;
            height: 25px;
            border-top: 1px solid $color_quantity_button;
            border-bottom: 1px solid $color_quantity_button;
            text-align: center;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 15px;
          }
        }
      }
      .low-info {
        padding-top: 38px;
        .price-info {
          display: flex;
          align-items: flex-end;
          justify-content: end;
          padding-right: 50px;
          .desc {
            font-size: 12px;
            padding-bottom: 3px;
          }
          .total-price {
            font-size: 22px;
            font-weight: 600;
            padding-left: 10px;
          }
        }
        .btn-wrapper {
          display: flex;
          justify-content: space-between;
          padding-top: 168px;
          padding-right: 50px;

          .wish-btn {
            width: 40px;
            height: 40px;
            border: 1px solid $color_quantity_button;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            background-image: url("../static/images/wish.svg");
            background-size: 30px;
            background-position: center;
            background-repeat: no-repeat;
            &.active {
              background-image: url("../static/images/wish-active.svg");
            }
          }
          .cart-btn {
            width: 300px;
            height: 40px;
            font-size: 14px;
            color: $color-white;
            background-color: $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .detail-img {
    display: flex;
    justify-content: center;
    padding-top: 120px;
  }
}
