#main {
  > .mypage-wrapper {
    /* MAIN SECTION */
    .modify-wrapper {
      width: 820px;
      .header {
        width: 100%;
        padding-bottom: 27px;
        border-bottom: 2px solid $color_primary;
        h2 {
          font-weight: 500;
          font-size: 24px;
          letter-spacing: -0.5px;
          line-height: 48px;
        }
      }
      > .content {
        width: 560px;
        box-sizing: border-box;
        margin: 0px auto;
        form {
          width: fit-content;
          margin: auto;
          padding-top: 10px;
          .modify-section {
            display: flex;
            min-height: 68px;
            padding-top: 12px;

            .modify-text {
              display: flex;
              width: 150px;
              height: 48px;
              align-items: flex-start;
              padding-left: 15px;
              padding-top: 10px;

              .label-id {
                padding: 0 10px;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;

                #ico {
                  padding-right: 2px;
                  color: #ee6a7b;
                }
              }
            }

            .modify-box {
              input {
                &.error {
                  border: 1px solid $color_incorrect;
                }
                display: block;
                width: 333px;
                height: 44px;
                padding: 0 20px;
                outline: none;
                box-sizing: border-box;
                border: 1px solid #eaeaea;
                margin-bottom: 4px;
                &#userThumbnail {
                  border: none;
                  padding: 0;
                  padding-top: 10px;
                }
                &#email {
                  background-color: #ededed;
                }
              }
              .error-message {
                color: $color_incorrect;
                font-size: 12px;
                display: none;
                &.active {
                  display: inline;
                }
              }
              figure {
                margin-top: 10px;
                width: 150px;
                height: 150px;
                border: 1px solid $color_btn_border;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              &.address-box {
                width: 333px;
                .inline-div {
                  width: 100%;
                  height: 44px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-bottom: 10px;
                  input:first-child {
                    width: 50%;
                    display: inline-block;
                    margin-bottom: 0;
                  }
                  button {
                    width: 48%;
                    font-size: 14px;
                    display: block;
                    height: 44px;
                    box-sizing: border-box;
                    background-color: $color_primary;
                    border: 1px solid $color_primary;
                    color: $color_white;
                    font-weight: normal;
                    cursor: pointer;
                    transition: 0.3s ease;
                    &:hover {
                      border: 1px solid $color-primary;
                      box-sizing: border-box;
                      background-color: $color-white;
                      color: $color-primary;
                    }
                  }
                }
                input {
                  margin-bottom: 10px;
                }
              }
            }
          }
          .modify-button-wrapper {
            position: relative;
            width: 240px;
            height: 56px;
            margin: 0 auto;
            .modify-button {
              margin: 0 auto;
              display: flex;
              width: 100%;
              height: 100%;
              font-size: 14px;
              background-color: $color_primary;
              color: $color_white;
              font-weight: 500;
              margin-top: 100px;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
              transition: 0.3s ease;
              border: 1px solid transparent;
              cursor: pointer;
              &:hover {
                border: 1px solid $color-primary;
                box-sizing: border-box;
                background-color: $color-white;
                color: $color-primary;
              }
            }
            .spinner-wrapper {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              display: none;
              justify-content: center;
              align-items: center;
              background-color: $color_primary;
              transition: background-color 0.3s ease;
              &.active {
                display: flex;
              }
              &:hover {
                background-color: #fff;
              }
              .spinner {
                width: 20px;
                height: 20px;
                border: 3px solid #f3f3f3;
                border-top: 3px solid $color_primary;
                border-radius: 50%;
                animation: spin 1s linear infinite;
              }
            }
          }
        }
      }
    }
  }
}
