.right-nav-bar {
  padding: 25px;
  width: 1300px;
  background-color: #e8ecef;
  box-sizing: border-box;
  .product-chart {
    max-width: 1140px;
    height: 350px;
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;
    .bar-chart-wrapper {
      width: 640px;
      height: 300px;
      background-color: $color_white;
      padding: 30px;
      border: 1px solid #dee3e7;
      .title {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .pie-chart-wrapper {
      width: 300px;
      height: 300px;
      background-color: $color_white;
      padding: 30px;
      border: 1px solid #dee3e7;
      .title {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .product-inner {
    max-width: 1100px;
    height: 280px;
    background: $color_white;
    padding: 10px 20px;
    border: 1px solid #dee3e7;
    .store-title {
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px solid rgb(184, 184, 184);
      padding: 20px 10px;
    }
    .store-status {
      display: flex;
      justify-content: space-around;

      .status-item {
        padding-top: 20px;
        .status-img {
          width: 100px;
          height: 100px;
          background: #000;
          display: block;
          background-size: 100px;
        }
        .title {
          font-size: 16px;
          font-weight: 400;
          padding-top: 10px;
          text-align: center;
          color: #7a7a7a;
        }
        .score {
          font-size: 15px;
          font-weight: 600;
          color: $color_black;
          text-align: center;
          padding-top: 10px;
        }
      }
      .status-item.status-orders {
        .status-img {
          width: 100px;
          height: 100px;
          background: #000;
          display: block;
          background-image: url(/static/images/order-status-order.jpg);
          background-size: 100px;
        }
      }
      .status-item.status-withdraw {
        .status-img {
          width: 100px;
          height: 100px;
          background: #000;
          display: block;
          background-image: url(/static/images/order-status-cancel.jpg);
          background-size: 100px;
        }
      }
      .status-item.status-confirmation {
        .status-img {
          width: 100px;
          height: 100px;
          background: #000;
          display: block;
          background-image: url(/static/images/order-status-confirm.jpg);
          background-size: 100px;
        }
      }
      .status-item.status-sales {
        .status-img {
          width: 100px;
          height: 100px;
          background: #000;
          display: block;
          background-image: url(/static/images/order-status-sales.jpg);
          background-size: 100px;
        }
      }
      .status-item.status-current {
        .status-img {
          width: 100px;
          height: 100px;
          background: #000;
          display: block;
          background-image: url(/static/images/order-status-goods.jpg);
          background-size: 100px;
        }
      }
      .status-item.status-soldout {
        .status-img {
          width: 100px;
          height: 100px;
          background: #000;
          display: block;
          background-image: url(/static/images/order-status-soldout.jpg);
          background-size: 100px;
        }
      }
    }
  }
}
